/**ADMIN STYLES**/
div.meta-box-wrapper > div { margin-bottom: 10px; }
div.meta-box-wrapper div label { width: 160px; float: left; line-height: 23px; }
div.meta-box-wrapper div label.help-inline { float: none; }
div.meta-box-wrapper div input[type="text"], div.meta-box-wrapper div input[type="password"], 
div.meta-box-wrapper div textarea, div.meta-box-wrapper div select { width: 300px; }
div.meta-box-wrapper .controls-input label, div.meta-box-wrapper div label.no-float {
float: none;
}
div.meta-box-wrapper div.widget {
margin-bottom: 2px;
}
#pricing-table-accordion .hndle {
cursor: pointer;
}
.template-pricing-table-form, .template-pricing-table-features-element {
display: none;
}
div.meta-box-wrapper div.ui-state-highlight, .ui-state-highlight {
border: 1px solid #fcefa1;
color: #363636;
background: #fbf9ee;
height: 32px;
line-height: 32px;
margin-bottom: 0px;
}
#pricing-table-accordion .btn-icon-header {
float: right;
width: auto;
height: 30px;
line-height: 30px;
margin-right: 10px;
margin-bottom: 0px;
z-index: 999;
position: relative;
}
#pricing-table-accordion .button-secondary {
margin: 3px 0px;
}
#pricing-table-accordion .currency-input {
width: 30px;
text-align: right;
}
.pricing-table-section {
padding: 10px;
height: auto!important;
}
.ui-accordion .ui-accordion-header .ui-icon {
display: none;
}
div.meta-box-wrapper .ui-state-active, div.meta-box-wrapper .ui-widget-content div.meta-box-wrapper .ui-state-active, 
div.meta-box-wrapper .ui-widget-header .ui-state-active {
border: 1px solid #d3d3d3;
}
div.meta-box-wrapper .ui-state-hover, div.meta-box-wrapper .ui-widget-content .ui-state-hover, div.meta-box-wrapper .ui-widget-header .ui-state-hover, div.meta-box-wrapper .ui-state-focus, div.meta-box-wrapper .ui-widget-content.ui-state-focus, .div.meta-box-wrapper .ui-widget-header .ui-state-focus {
border: 1px solid #d3d3d3;
}
div.meta-box-wrapper .ui-widget-content {
border: 1px solid #d3d3d3;
}
div.meta-box-wrapper .ui-accordion .ui-accordion-content {
overflow: visible;
}
#pricing-table-accordion .widget {
border: none;
}